apiVersion: apps/v1
kind: Deployment
metadata:
  name: kabirrec-app
  creationTimestamp: null
  labels:
    app: kabirrec-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kabirrec-app
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: kabirrec-app
    spec:
      containers:
      - image: kabirrec:1.0
        name: kabirrec-server
        resources: {}
        ports:
          - containerPort: 8080
        volumeMounts:
          - mountPath: /app/config.json
            subPath: config.json
            name: config-map
            readOnly: true
          - mountPath: /app/dataset
            name: dataset-storage
          - mountPath: "/app/models"
            name: model-storage
      volumes:
        - name: config-map
          configMap:
            name: app-config
        - name: dataset-storage
          persistentVolumeClaim:
            claimName: dataset-volume-claim
        - name: model-storage
          persistentVolumeClaim:
            claimName: model-volume-claim
status: {}

